body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #666;
  background-color: #fff;
}

body {
  padding-top: 120px;
}

p {
  margin: 0;
}

a {
  color: #08C;
  text-decoration: none;
}

a:hover {
  color: #005580;
  text-decoration: underline;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

.container {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.input-wrapper, .btn-wrapper {
  float: left;
}

.message-box {
  margin-bottom: 10px;
}

.output-box {
  padding-left: 5px;
}

input, button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  padding: 4px 9px;
  margin: 0;
}

input {
  display: block;
  .box-sizing(border-box);
  background: #fff;
  border: 1px solid #888;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset #C9C9C9 0px 0px 0px 3px;
  -moz-box-shadow: inset #C9C9C9 0px 0px 0px 3px;
  box-shadow: inset #C9C9C9 0px 0px 0px 3px;
  color: #444;
}

input[type="text"]:focus {
  background: #E9E9E9;
}

.btn {
  display: inline-block;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,0.35);
  vertical-align: middle;
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
  border: 1px solid #5E5E5E;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  background-color: #7ec77e;
  background-image: -moz-linear-gradient(top, #87d287, #6fb86f);
  background-image: -ms-linear-gradient(top, #87d287, #6fb86f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#87d287), to(#6fb86f));
  background-image: -webkit-linear-gradient(top, #87d287, #6fb86f);
  background-image: -o-linear-gradient(top, #87d287, #6fb86f);
  background-image: linear-gradient(top, #87d287, #6fb86f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#87d287', endColorstr='#6fb86f', GradientType=0);
}

.btn {
  margin-left: 5px;
  width: 70px;
}

input {
  width: 305px;
}