@import "compass";

// Grays
// ------------------------------------
$black:                 #000;
$grayDarker:            #444;
$grayDark:              #666;
$gray:                  #777;
$grayLight:             #999;
$grayLighter:           #aaa;
$white:                 #fff;

// Colors
// ------------------------------------
$primaryColor:          #2ba6cb;
$primaryColorLight:     lighten($primaryColor, 15%);
$primaryColorLighter:   lighten($primaryColor, 30%);
$primaryColorLightest:  lighten($primaryColor, 40%);
$primaryColorDark:      darken($primaryColor, 15%);
$primaryColorDarker:    darken($primaryColor, 25%);
$primaryColorDarkest:   darken($primaryColor, 30%);

$textColor:             #4D4D4D;
$bodyBackground:        $white;

$linkColor:             $primaryColor;
$linkColorHover:        $primaryColorDark;

// Typography
// ------------------------------------
$baseFontFamily:        "Droid Sans", sans-serif;
$baseFontSize:          18px;
$baseLineHeight:        1;
$paragraphLineHeight:   1.7;

$h1FontSize:            $baseFontSize * 4;
$h2FontSize:            $baseFontSize * 2;
$h3FontSize:            $baseFontSize * 1.5;

$headingsFontFamily:    inherit;
$headingsFontWeight:    bold;
$headingsColor:         inherit;

$verticalSpacing:       30px;
$verticalSpacingSmall:  20px;
$verticalSpacingBig:    60px;

// Container
// ------------------------------------
$containerPadding:      10px;
$containerWidth:        600px;

// Forms
// ------------------------------------
$inputFontSize:         $baseFontSize;
$inputLineHeight:       $inputFontSize * 1.6;
$inputTopBottomPadding: 5px;
$inputLeftRightPadding: 10px;

$inputTextColor:        $grayDarker;

$inputBorderSize:       1px;
$inputBorderColor:      $gray;
$inputBorderColorFocus: $primaryColor;
$inputBorderRadius:     3px;

$inputBackground:       $white;
$inputBackgroundFocus:  $primaryColorLightest;

$labelTextColor:        $grayDarker;

// Button
// ------------------------------------
$btnFontSize:           $baseFontSize;
$btnLineHeight:         $btnFontSize;
$btnTopBottomPadding:   10px;
$btnLeftRightPadding:   20px;
$btnFontWeight:         bold;

$btnTextColor:          $white;
$btnTextColorHover:     $btnTextColor;
$btnTextShadow:         none;

$btnBorderSize:         1px;
$btnBorderColor:        $primaryColorDark;
$btnBorderColorHover:   $primaryColorDarker;
$btnBorderRadius:       0;

$btnBackground:         $primaryColor;
$btnBackgroundHover:    $primaryColorDark;
$btnBackgroundActive:   $primaryColorDarker;

// Mixins
// ------------------------------------
// The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/
@mixin clearfix() { *zoom:1;
  &:before, &:after { content: ""; display: table; }
  &:after { clear: both; }
}

