// Headings, paragraphs, etc.

@import "base";

p {
  line-height: $paragraphLineHeight; 
  margin-bottom: $verticalSpacingSmall;
}

h1, h2, h3 {
  font-family: $headingsFontFamily;
  font-weight: $headingsFontWeight;
  color: $headingsColor;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
  margin-top: $verticalSpacing;
  margin-bottom: $verticalSpacingSmall;
}

h1 {
  font-size: $h1FontSize;
}

h2 {
  font-size: $h2FontSize;
}

h3 {
  font-size: $h3FontSize;
}

em, i { font-style: italic; line-height: inherit; }
strong, b { font-weight: bold; line-height: inherit; }

pre {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 12px;
  line-height: 16px;
}
