// Main style sheet, imports all base styles and contains application-specific
// styles

@import "base";
@import "scaffolding";
@import "typography";
@import "layout";

body {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1.header {
  text-align: center;
}
