<!DOCTYPE html>
<html>
  <head>
    <title>Excesiv</title>
    {% if config.APP_ENV == 'production' %}
      <link rel="stylesheet" type="text/css" href="/static/build/style.min.css">
    {% else %}
      <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    {% endif %}
  </head>
  <body>
    <div class="container">
      <h1>Excesiv</h1>
      <p>{{ config.APP_ENV }}</p>
    </div>
    {% if config.APP_ENV == 'production' %}
      <script src="/static/build/vendor.min.js"></script>
      <script src="/static/build/app.min.js"></script>
    {% else %}
      <!-- jQuery -->
      <script src="/static/js/vendor/jquery.js"></script>
      <!-- File Upload -->
      <script src="/static/js/vendor/jquery.ui.widget.js"></script>
      <script src="/static/js/vendor/jquery.iframe-transport.js"></script>
      <script src="/static/js/vendor/jquery.fileupload.js"></script>
      <!-- Application -->
      <script src="/static/js/app.js"></script>
    {% endif %}
  </body>
</html>
